HTTP_ADDR=:5050
HTTP_SHUTDOWN_TIMEOUT=30s

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_TIMEOUT=10s

KAFKA_TOPIC_PREFIX=todoapp
KAFKA_WRITE_TIMEOUT=10s

OUTBOX_POLL_INTERVAL=1s
OUTBOX_BATCH_SIZE=100
OUTBOX_RETENTION=168h

MONGO_USER=
MONGO_PASSWORD=
MONGO_DB=todoapp
MONGO_TIMEOUT=10s

PROJECTION_CONSUMER_GROUP=todoapp-projector

LOGGER_LEVEL=DEBUG

TIME_ZONE=UTC
